rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /tasks/{taskId} {
      allow read, write: if true;
    }

    match /usernames/{username} {
      allow get: if true;
      allow list: if request.auth != null
        && resource.data.uid == request.auth.uid;
      allow create: if request.auth != null
        && request.resource.data.keys().hasOnly(['uid', 'email'])
        && request.resource.data.keys().hasAll(['uid', 'email'])
        && request.resource.data.uid == request.auth.uid
        && request.resource.data.email == request.auth.token.email
        && username.matches('^[a-z0-9_]{3,20}$');
      allow update: if request.auth != null
        && resource.data.uid == request.auth.uid
        && request.resource.data.keys().hasOnly(['uid', 'email'])
        && request.resource.data.keys().hasAll(['uid', 'email'])
        && request.resource.data.uid == request.auth.uid
        && request.resource.data.email == request.auth.token.email
        && username.matches('^[a-z0-9_]{3,20}$');
      allow delete: if request.auth != null
        && resource.data.uid == request.auth.uid;
    }
  }
}
